@charset "UTF-8";

/*↓全体の設定*/
html {
    font-size: 100%;
}

body {
    font-family: sans-serif;
   text-align: center;

}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    margin: 15% 0 5% 0;
}

p {
    font-size: 2vw;
}


/*↑全体の設定*/



/*ヘッダー*/

header {
    /*display: flex;*/
    justify-content: space-between;
    margin: 0 15%;
}


/* onishi's portfolio */
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vw;
    text-align:left;
    margin: 10px 0;
}


/*↓右上リンク*/
a {
    text-decoration: none;
    /*下線消してる*/}

ul {    display: flex;
    /*横並び*/
    justify-content:flex-end;
    /*画面の右端に寄せたい*/
    font-size: 2vw;
    list-style: none;
    /*ちょぼ無くした*/
    margin: 0 15%;
}

li {
    margin: 0 2%;
    
}

a {
    color: gray;
}

a:hover {
    color: #db8000;
}

/*↑右上リンク*/

/*ヘッダー画像*/
.top img{width:70%;
    height: auto;
    margin: 0 15%;
    
}
/*↑ヘッダー*/



/*↓worksの画像の設定*/
.works img{
    width: 20vw;
    margin: 0 20px;
   
}



/*プロフィール*/
.profile{display: flex;
    justify-content: center;
     
    
}

.profile img{
   
    width: 20vw;
    height: 20vw;
    margin: 20px;
}

.profile p{font-size: 1.5vw;
    padding: 30px 30px 30px 0px; ;
    text-align: left;
    margin: 20px;

}



.icon{width:40px;}

.contact img{margin: 0 10px;}




.pagetop:hover{ color: #db8000;}

.pagetop{margin: 15% 0 5% 0;}



